.StockCard {
  margin-bottom: 15px;

  &Link {
    color: inherit;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
    text-decoration-color: inherit;
  }
}
